/* ============================ Custom UI - IAG ============================ */

/*IAG */
.iag-banner{
    background: url('../images/iag-banner.jpg');
	background-position: 50% 50%;
    background-size: cover;
    width: 100vw;
    height: 75vh;
    position: absolute;
    left: 0;
    top: 0;
}
.page-heading{
    position: absolute;
    bottom: 80px;
    left: 50px;
    
}
.page-heading h1{
    font-size: 48px;
    line-height: 48px;
    font-weight: 400;
    margin: 0;
    padding-top: 40px;
	color: #fff;
}
.inner-sub-title{
	font-weight: 400;
}
.content-small-area-inner .content-small-area{
    padding: 0;
}
.mouse-icon{
    padding: 80px 0;
    text-align: center;
}
.big-heading{
    font-size: 140px;
    line-height: 140px;
    font-family: Roboto;
    font-weight: 700;
    text-align: center;
    padding: 80px 0;
}
.content-keyword-text-n{
    text-align: center;
}
.ptb80{
    padding: 80px 0;
}
.site-icon-text{
    text-align: center;
    padding-bottom: 20px;
}
.s-list .site-icon-area{
    padding: 20px 0;
}
.pb80{
    padding-bottom: 80px;
}
.section-1{ height: 75vh;}
.section-2 {
  position: relative;
  padding: 50px 0; }
  .section-2 .content-area {
    text-align: center; }
    .section-2 .content-area .content-title {
      font-size: 42px;
      font-weight: 600;
      color: #7e7e7e;
      margin: 0; }
    .section-2 .content-area .content-sub-title {
      font-size: 22px;
      color: #7e7e7e; }
  .section-2 .content-small-area {
    padding: 50px 0;
    text-align: center;
    color: #7e7e7e; }
    .section-2 .content-small-area .content-sub-title {
      font-size: 22px;
      color: #7e7e7e; }
    .section-2 .content-small-area .site-icon-area {
      width: 90px;
      text-align: center;
      margin: auto;
      padding: 40px 0; }
      .section-2 .content-small-area .site-icon-area img {
        width: 90px; }
    .section-2 .content-small-area .content-keyword-text {
      font-size: 18px;
      margin: 0; }
	.section-2 .content-pera-text,
    .section-2 .content-small-area .content-pera-text {
      font-size: 16px;
      padding: 40px 0;
      margin: 0; }
  .section-2 .gray-link {
    text-align: center; }
    .section-2 .gray-link a {
      font-size: 18px;
      color: #7e7e7e;
      font-weight: 700;
      text-align: center; }
      .section-2 .gray-link a:hover {
        color: #333;
        text-decoration: none; }
      .section-2 .gray-link a .glyphicon-chevron-down {
        font-size: 24px; }