
.about-us{}
.section-1{
    height: 75vh;
}
.about-us-banner{
	background: url('../images/img-banner-about-us.jpg');
    background-size: cover;
    width: 100vw;
    height: 75vh;
    position: absolute;
    left: 0;
    top: 0;
}
.page-heading{
    position: absolute;
    bottom: 80px;
    left: 50px;
    
}
.page-heading h1{
 
    line-height: 48px;
    font-weight: 400;
    margin: 0;
    padding-top: 40px;
	color: #fff;
}

.about-us  .section-2{
	padding-bottom: 100px;
	padding-top: 50px;
}

   .about-us  .section-2 .content-area .content-title {
   
      font-weight: 700;
      color: #7e7e7e;
      margin-top: 50px;
      padding: 0px 180px 0px 180px;
 }
.about-us  .section-2 .section-2-icons{
	margin-left: -100px;
	margin-right: -100px;
}

  .about-us .content-sub-title {
   
      color: #7e7e7e; 
      text-align: center;
 }
   .about-us  .section-3 {
  color: white;
   }
 .about-us  .section-3 > .row {
    height: 585px;
    background-color: #111; }
  .about-us   .section-3 > .row .col-md-6 {
      height: 50%;
overflow: hidden;}
 .about-us   .section-3 > .row .col-md-6 big-6 {
      height: 100% !important; }
   .about-us    .section-3 > .row .col-md-6:before {
        content: ' ';
        display: block;
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
        opacity: 0.85;
        background-repeat: no-repeat;
        background-position: 50% 0;
        background-size: cover;
		transition: all .5s ease-in-out; }
      .section-3 > .row .col-md-6:hover::before {
		transform: scale(1.1);
        transition: all .5s ease-in-out;}
    .about-us   .section-3 > .row .col-md-3 {
      height: 50%;
overflow: hidden;}
    .about-us   .section-3 > .row .col-md-3:before {
        content: ' ';
        display: block;
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
        opacity: 0.8;
        background-repeat: no-repeat;
        background-position: 50% 0;
        background-size: cover;
		transition: all .5s ease-in-out; }
     .about-us  .section-3 > .row .col-md-3:hover::before {
		transform: scale(1.1);
        transition: all .5s ease-in-out;}
     .about-us  .section-3 > .row .bg-information-security:before {
      background-image: url(../images/information-security.png); }
     .about-us  .section-3 > .row .bg-digital-transformation:before {
      background-image: url(../images/digital-transformation.png); }
    .about-us   .section-3 > .row .bg-identity-risk:before {
      background-image: url(../images/Identity-risk.png); }
    .about-us   .section-3 > .row .bg-truops:before {
      background-image: url(../images/TrouOps.png); }
    .about-us   .section-3 > .row .bg-contact:before {
      background-image: url(../images/Contact.png); }
    .about-us   .section-3 > .row .bg-about-us-vid:before {
      background-image: url(../images/about-us-vid.png); }
    .about-us   .section-3 > .row .bg-partners:before {
      background-image: url(../images/partners.png); }
    .about-us  .section-3 > .row .bg-Careers:before {
      background-image: url(../images/digital-transformation.png); }
    .about-us  .section-3 > .row .bg-blog:before {
      background-image: url(../images/blog.png); }
    .about-us  .section-3 > .row .bg-watch-vid:before {
      background: white;}
    .about-us  .section-3 > .row .bg-webinar:before {
      background-image: url(../images/webinar.png); }
    .about-us  .section-3 > .row .bg-big-blog:before {
      background-image: url(../images/big-blog.png); }
   .about-us    .section-3 > .row .content-block {
      position: relative;
      z-index: 2; }
.section-3 > .row .content-block .content-block-title {
        font-weight: 400; }
      .section-3 > .row .content-block .content-block-body {
        margin: 30% 0; }
.section-3 > .row .col-md-6 .content-block .content-block-body {
        margin: 10% 0; }
.section-3 > .row:nth-of-type(2) .content-block .content-block-body {
        margin: 10% 0; }

.about-us .section-4 {
  color: white;
  height: 585px; }
 .about-us .section-4 > .row {
    height: 100%;
    background-color: #111; }
 .about-us   .section-4 > .row .col-md-6 {
      height: 100%;
      overflow: hidden; }
  .about-us    .section-4 > .row .col-md-6:before {
        content: ' ';
        display: block;
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
        opacity: 0.85;
        background-repeat: no-repeat;
        background-position: 50% 0;
        background-size: cover;
        transition: all .5s ease-in-out; }
 .about-us     .section-4 > .row .col-md-6:hover::before {
        transform: scale(1.1);
        transition: all .5s ease-in-out; }
.about-us    .section-4 > .row .col-md-3 {
      height: 50%;
      overflow: hidden; }
  .about-us    .section-4 > .row .col-md-3:before {
        content: ' ';
        display: block;
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
        opacity: 0.85;
        background-repeat: no-repeat;
        background-position: 50% 0;
        background-size: cover;
        transition: all .5s ease-in-out; }
  .about-us    .section-4 > .row .col-md-3:hover::before {
        transform: scale(1.1);
        transition: all .5s ease-in-out; }
    .about-us  .section-4 > .row .bg-big-blog:before {
      background-image: url(../images/big-blog.png); }
   .about-us  .section-4 > .row .bg-cust-sucs:before {
      background-image: url(../images/cust-sucs.png); }
  .about-us  .section-4 > .row .bg-blog3:before {
      background-image: url(../images/blog3.png); }
.about-us  .section-4 > .row .bg-article:before {
      background-image: url(../images/article.png); }
 .about-us  .section-4 > .row .bg-service:before {
      background-image: url(../images/service.png); }
.about-us    .section-4 > .row .bg-socialmedia:before {
      background-image: url(../images/home-section-4-img6.jpg); }
.about-us    .section-4 > .row .bg-socialmedia-1:before {
      background-image: url(../images/home-section-4-img7.jpg); }
.about-us    .section-4 > .row .content-block {
      position: relative;
      z-index: 2; }
.section-4 > .row .content-block .content-block-title {
        font-weight: 400; }
      .section-4 > .row .content-block .content-block-body {
        margin: 10% 0; }
.about-us .watch-vid-hed {
color: #3792df;
}
.about-us .watch-vid-cont {
color: #797979;
}