/* ============================ Custom UI - Leadership ============================ */

.leadership .section-1{
	
	
}
.leadership .section-1 .page-banner{
	height: 100vh;
	width:100vw;
	background: #B5B6B7;
	margin: 0 -15px;
}
.leadership .section-1 .img1{
    background: #B5B6B7 url("../images/leaders/img-ajaygupta-big.png") no-repeat 50% 100%; 
	background-size: contain;
	height:100vh;
	width: 530px;

}

.leadership .iam{
    padding: 27.5vh 100px;
    color: white;
}

.leadership .iam p{
  
	font-weight: 500;
}
.leadership .iam p a{
 color: #fff;
cursor:pointer;	
}
.content-small-area .site-icon-area img{
	height:280px;
	width:380px;
	text-align: center;
}

.demo-content{
	margin:20px 0px 40px 0px;
	text-align: center;
	
}
.section-2 {
	padding:50px 0px;
}
.modal-leadership .modal-content{ background: rgba(255,255,255,1); border: none; border-radius: 4px; }
.modal-leadership .modal-header{ padding: 0; position: relative; border: none;}
.modal-leadership .modal-header .close{ width: 24px;
    height: 24px;
    position: absolute;
    z-index: 5;
    right: -10px;
    top: -10px;
    background: rgba(0,0,0,1);
    border-radius: 50%;
    color: #fff;
    font-weight: 200;
    line-height: 24px;
    vertical-align: top; } 
.modal-leadership .modal-body{ padding: 0; background: rgba(0,0,0,0.025); }
.modal-leadership-image{
	width: 100%;
	height: 380px;
	padding: 0;
	position: relative;
	background: #B5B6B7;
	border-radius: 4px;
}

.modal-leadership-image .image-thumbnail{
	width: 60%;
    height: 380px;
    position: relative;
    float: left;
	margin: 0 20%;
    background-image: url(../images/leaders/img-ajaygupta-big.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 50% 100%;
}

.modal-leadership-image .image-caption{
	position: absolute;
    bottom: 0;
    left: 0;
    height: auto;
    width: 100%;
    padding: 5px 25px;
    margin-bottom: 10px;
    background: rgba(0,0,0,0.15);
	background: linear-gradient(to left, rgba(0,0,0,0.05) 0%, rgba(0,0,0,0.30) 25%, rgba(0,0,0,0.50) 50%, rgba(0,0,0,0.30) 75%, rgba(0,0,0,0.05) 100%);
	color: #fff;
	box-shadow: inset 0 0 10px rgba(0,0,0,0.25);
}
.modal-leadership-image .image-caption h3{
	font-weight: 500;
    margin: 5px 0;
    line-height: normal;
}
.modal-leadership-image .image-caption p{
	margin: 0 0 5px;
}

.modal-leadership-description{
	padding:15px;
}
.panel-primary {
    border-color: #555444;
}
