
.partners{}
.section-1{
    height: 75vh;
}
.partners-banner{
	background: url('../images/Partners-assets/banner-partners.png');
    background-size: cover;
    width: 100vw;
    height: 75vh;
    position: absolute;
    left: 0;
    top: 0;
    color: red
}
.page-heading{
    position: absolute;
    bottom: 80px;
    left: 50px;
    
}
.page-heading h1{

    line-height: 48px;
    font-weight: 400;
    margin: 0;
    padding-top: 40px;
	color: #fff;
}

.partners .section-2 .content-area .content-title {
  
      font-weight: 400;
      color: #7e7e7e;
      margin-top: 50px;
      padding: 0px 180px 0px 180px;
 }

.partners .content-sub-title {
  
      color: #7e7e7e; 
      text-align: center;
 }

.partners .section-3 {
    margin-top: 50px;
    margin-left: 70px;
    
}
.partners .section-3 .content-block {
    
            margin-left: auto;
	        margin-right: auto;
	        display:table-cell; 
            vertical-align:middle; 
            text-align:center;
            height: 216px;
            width: 216px;
            position: relative;
            z-index: 2; }