
.service-component{}
.section-1{
     height: 75vh;
}
.service-component-banner{
	background: url('../images/img-banner-service-component.jpg');
    background-size: cover;
    width: 100vw;
    height: 75vh;
    position: absolute;
    left: 0;
    top: 0;
}
.page-heading{
    position: absolute;
    bottom: 80px;
    left: 50px;
    
}
.page-heading h1{
    line-height: 48px;
    font-weight: 400;
    margin: 0;
    padding-top: 40px;
	color: #fff;
}
.service-component h4{
    font-weight: bold;
    margin-bottom: 24px;
    margin-top: 24px;
}
.service-component .venderSectionContainer{
    background: white;
    padding: 35px 50px 20px 70px;
}
.service-component .venderIcon{
    float: left;
    margin-right: 12px;
}
.service-component .Content{
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: justify;
}
.service-component .iagSectionContainer{
    background: #f0f0f0;
    padding-bottom: 565px;
}
.service-component .iagHeading{
    padding: 20px 46px 40px 70px;
}
.service-component ul {
    list-style-type: none;
	padding: 0px;
    margin-bottom: 70px;
}
.service-component li a {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 70px;
    display: block;
    color:black;
    text-decoration: none;  
}
.service-component li a.active {
    background-color: #61bc46;
    color: white;
}
.service-component li a:hover:not(.active) {
    background-color: #6ed74e;
    color: white;
}
.service-component .letsTalk{`
    width: 80%;
    padding: 20px 46px 20px 70px;
}
.service-component .video{
    margin-top: 70px;
    padding-left: 70px;
}
.service-component .videoContainer{
    margin-bottom: 30px;
}
.service-component .img1{
    background: url("../images/bg-customerstory.png") no-repeat; 
    height: 685px;
}
.service-component .iam{
    background: #61bc46;
    padding: 100px;
    color: white;
}
.service-component h2{
    margin-bottom: 50px;
}
.service-component .whitePaper {
    height: 500px;
background: #f0f0f0;
    color: #6ed74e;
    padding: 100px;
}
.service-component .whitepaperbtn {
	background: #61bc46;
    height: 54px;
    width: 390px;
	text-align: center;
	color:white;
    font-weight: bold;
    border: none;
	}
	
.service-component .btn:hover {background-color: #61bc46; color:white}

.bg-section2-2-1{
	height: 585px;
    overflow: hidden;
}
.bg-section2-2-1:before {
	content: ' ';
        display: block;
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
        opacity: 0.85;
        background-repeat: no-repeat;
        background-position: 50% 0;
        background-size: cover;
        -webkit-transition: all .5s ease-in-out;
        transition: all .5s ease-in-out;
	background-image: url(../images/bg-customerstory.png);
}
.bg-section2-2-1:hover::before {
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
        -webkit-transition: all .5s ease-in-out;
        transition: all .5s ease-in-out; }
.bg-section2-2-2{
	height: 585px;
    overflow: hidden;
	background: #61bc46;
}



.section-3 {
  color: white;
  height: 290px; }
  .section-3 > .row {
    height: 100%;
    background-color: #111; }
    .section-3 > .row .col-md-6 {
      height: 100%;
      overflow: hidden; }
      .section-3 > .row .col-md-6:before {
        content: ' ';
        display: block;
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
        opacity: 0.85;
        background-repeat: no-repeat;
        background-position: 50% 0;
        background-size: cover;
        -webkit-transition: all .5s ease-in-out;
        transition: all .5s ease-in-out; }
      .section-3 > .row .col-md-6:hover::before {
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
        -webkit-transition: all .5s ease-in-out;
        transition: all .5s ease-in-out; }
    
    
    .section-3 > .row .bg-services:before {
      background-image: url(../images/bg-services.jpg); }
    .section-3 > .row .bg-contact:before {
      background-image: url(../images/bg-contact.jpg); }
    .section-3 > .row .content-block {
      position: relative;
      z-index: 2; }



.section-4 {
  color: white;
  height: 585px; }
  .section-4 > .row {
    height: 100%;
    background-color: #111; }
    .section-4 > .row .col-md-6 {
      height: 100%;
      overflow: hidden; }
      .section-4 > .row .col-md-6:before {
        content: ' ';
        display: block;
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
        opacity: 0.85;
        background-repeat: no-repeat;
        background-position: 50% 0;
        background-size: cover;
        -webkit-transition: 0.5s all ease-in-out;
        transition: 0.5s all ease-in-out; }
      .section-4 > .row .col-md-6:hover::before {
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
        -webkit-transition: all .5s ease-in-out;
        transition: all .5s ease-in-out; }
	
	.section-4 > .row .col-md-6.bg-scheduledemo {
      height: 50%;
      overflow: hidden; }

    .section-4 > .row .col-md-3 {
      height: 50%;
      overflow: hidden; }
      .section-4 > .row .col-md-3:before {
        content: ' ';
        display: block;
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
        opacity: 0.8;
        background-repeat: no-repeat;
        background-position: 50% 50%;
        background-size: cover;
        -webkit-transition: all .5s ease-in-out;
        transition: all .5s ease-in-out; }
      .section-4 > .row .col-md-3:hover::before {
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
        -webkit-transition: all .5s ease-in-out;
        transition: all .5s ease-in-out; }
    .section-4 > .row .bg-customerstory:before {
      background-image: url(../images/bg-customerstory.png); }
    .section-4 > .row .bg-scheduledemo:before {
      background-image: url(../images/bg-scheduledemo.jpg); }
    .section-4 > .row .bg-resources-small:before {
      background-image: url(../images/bg-resources-small.jpg); }
    .section-4 > .row .bg-customersuccess-2:before {
      background-image: url(../images/home-section-3-img4.jpg); }
    .section-4 > .row .bg-blog-small:before {
      background-image: url(../images/home-section-3-img5.jpg); }
    .section-4 > .row .content-block {
      position: relative;
      z-index: 2; }