
.service-component{}
.service-component-banner{
	background: url('../images/img-banner-service-component.jpg');
    background-size: cover;
    width: 100vw;
    height: 100vh;
    position: absolute;
    left: 0;
    top: 0;
}
.page-heading{
    position: absolute;
    bottom: 80px;
    left: 50px;
    
}
.page-heading h1{
    font-size: 48px;
    line-height: 48px;
    font-weight: 400;
    margin: 0;
    padding-top: 40px;
	color: #fff;
}
.service-component h4{
    font-weight: bold;
    margin-bottom: 24px;
    margin-top: 24px;
}
.service-component .venderSectionContainer{
    background: white;
    padding: 62px 50px 50px 70px;
}
.service-component .venderIcon{
    float: left;
    margin-right: 12px;
}
.service-component .Content{
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: justify;
}
.service-component .iagSectionContainer{
    background: #f0f0f0;
    padding-bottom: 454px;
}
.service-component .iagHeading{
    padding: 20px 46px 74px 70px;
}
.service-component ul {
    list-style-type: none;
	padding: 0px;
    margin-bottom: 70px;
}
.service-component li a {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 70px;
    display: block;
    color:black;
    text-decoration: none;  
}
.service-component li a.active {
    background-color: #61bc46;
    color: white;
}
.service-component li a:hover:not(.active) {
    background-color: #6ed74e;
    color: white;
}
.service-component .letsTalk{`
    width: 80%;
    padding: 20px 46px 20px 70px;
}
.service-component .video{
    margin-top: 70px;
    padding-left: 70px;
}
.service-component .videoContainer{
    margin-bottom: 30px;
}
.service-component .img1{
    background: url("../images/cup.png") no-repeat; 
    height: 685px;
}
.service-component .iam{
    background: #61bc46;
    padding: 90px 120px 141px 120px;
    color: white;
    text-align: justify;
}
.service-component h2{
    margin-bottom: 50px;
}
.service-component .whitePaper {
    height: 500px;
background: #f0f0f0;
    color: #6ed74e;
    padding: 200px 100px 200px 100px;
}
.service-component .whitepaperbtn {
	background: #61bc46;
    height: 54px;
    width: 390px;
	text-align: center;
	color:white;
    font-weight: bold;
    border: none;
    font-size: 26px;
	}
	
.service-component .btn:hover {background-color: #61bc46; color:white}