.region-footer{	
	padding: 75px 0;
	background: linear-gradient(to left, rgb(102, 185, 188) 0%, rgb(102, 185, 186) 3%, rgb(101, 186, 160) 42%, rgb(101, 186, 157) 44%, rgb(99, 188, 88) 100%);
	
	.sdg-logo-f{
		padding-bottom: 50px;
	}
	
	.footer-links{
		font-size: 18px;
		list-style-type: none;
		padding: 0;
		margin: 0;
		
		li{
			display: block;
			padding: 10px 0;
			
			a{
				color: #fff;
			}
		}
	}
	
	.subscribe-area{
		padding-top: 100px;
		
		h5{
			display: block;
			font-size: 30px;
			font-weight: 400;
			text-align: center;
			color: #fff;
		}
		
		.black-btn{
			background: #454545;
			border: 1px solid #454545;
			line-height: 46px;
			color: #fff;
			font-size: 24px;
			width: 220px;
			margin: 25px auto;
			display: block;

		}
		
		input{
			border: 1px solid #f0f0f0;
			background: #f0f0f0;
			line-height: 28px;
			color: #979797;
			font-size: 24px;
			display: block;
			width: 90%;
			margin: auto;
			padding: 10px;
		}
	}
	
	.social-media-icons{
		list-style-type: none;
		margin: 0;
		padding: 0;
		padding-top: 170px;
		
		li{
			list-style-type: none;
			margin: 0;
			padding:0 2px;
			float: left;
			
			img{
				width: 48px;
			}
		}
	}
}