.region-header{
	position: fixed;
	z-index: 10;
	top: 0;
	left:0;
	height: 80px;
	width: 100%;
	
	.container-logo{
		width: 250px;
		height: 35px;
		line-height: 35px;
		background-image: url(../images/logo-sdgc-inverse.svg);
		background-repeat: no-repeat;
		background-position: 0 0;
		background-size: cover;
		margin: 22px 20px;
		transition: 0.5s all ease-in-out;
	}
}

