.region-header{
	position: absolute;
	z-index: 2;
	top: 0;
	left:0;
	height: 50px;
	.container-logo{
		width: 250px;
		background-image: url(../images/img-logo.png);
		background-repeat: no-repeat;
    	height: 35px;
    	background-size: contain;
		margin: 30px 35px;
		
	}
}

.container-fnb{
	position: absolute;
	bottom: 30px;
	left: 50%;
	z-index: 5;
	
	a{
		
		background: none;
		border: none;
		
		
		&:after{			
			content: "\u232a";
			width: 64px;
			height: 64px;
			font-size: 32px;
		}
	}
}

.content-block{
	.content-block-heading{
		padding: 10px 15px;
		.content-block-title{
			margin-top: 0;
			margin-bottom: 0;
		}
	}
	.content-block-body{
		padding: 15px;
	}
}

.section-1{
	color:rgba(255,255,255,1);
	>.row{
		height: 100%;background-color: #111;
		.background-video{
			display: block;
			position: absolute;
			left: 0;
			top: 0;
			width: 100%;
			height: 100%;
			z-index: 1;
			overflow: hidden;
		}
		.content-section{
			display: block;
			position: relative;
			width: 100%;
			height: 100%;
			z-index: 2;

			.content-left{
				height: 100%;
				
				h2{
					position: relative;
					top:50%;
					margin: 0 25px;
					margin-top: -25%;
					font-weight: 200;
					line-height: 5rem;
				}
			}
			.content-right{
				height: 50%;
				border-top: 3px solid rgba(0,0,0,0.05);
				border-right: 3px solid rgba(0,0,0,0.05);
				
				&:nth-child(2), &:nth-child(3){
					border-top: none;
				}

				&:before{
					content: ' ';
					display: block;
					position: absolute;
					left: 0;
					top: 0;
					width: 100%;
					height: 100%;
					z-index: 1;
					opacity: 0.85;
					background-color: rgba(0,0,0,0.2);
				}
				&:hover::before{
					background-color: rgba(0,0,0,0.05);
				}
				> div{
					margin: 0 25px;
					text-align: center;
					position: relative;
					top: 50%;
					margin-top: -75px;
					z-index: 2;
					
					h4{
						font-family: 'Roboto';
						font-weight: 300;
					}
					
					.icon{
						width: 96px;
						height: 96px;
						display: block;
						margin: 0 auto;
						background-repeat: no-repeat;
						background-position: 50% 50%;
						background-size: contain;
					}
					.icon-1{
						background-image: url(../images/icon-1.png)
					}
					.icon-2{
						background-image: url(../images/icon-2.png)
					}
					.icon-3{
						background-image: url(../images/icon-3.png)
					}
					.icon-4{
						background-image: url(../images/icon-4.png)
					}
				}
			}
		}
	}
}

.section-2{
	position: relative;
}

.section-3{
	color:rgba(255,255,255,1);
	>.row{
		height: 100%;background-color: #111;
		.col-md-6{
			height: 100%;
			
			&:before{
				content: ' ';
				display: block;
				position: absolute;
				left: 0;
				top: 0;
				width: 100%;
				height: 100%;
				z-index: 1;
				opacity: 0.85;
				background-repeat: no-repeat;
				background-position: 50% 0;
				background-size: cover;
			}
			&:hover::before{
				opacity: 0.9;
			}
		}
		.col-md-3{
			height: 50%;
			
			&:before{
				content: ' ';
				display: block;
				position: absolute;
				left: 0;
				top: 0;
				width: 100%;
				height: 100%;
				z-index: 1;
				opacity: 0.8;
				background-repeat: no-repeat;
				background-position: 50% 0;
				background-size: cover;
			}
			&:hover::before{
				opacity: 0.95;
			}
		}
		.bg-blog{
			&:before{
				background-image: url( ../images/home-section-3-img1.jpg)
			}
		}
		.bg-whitepapers{
			&:before{
				background-image: url( ../images/home-section-3-img2.jpg)
			}
		}
		.bg-customersuccess{
			&:before{
				background-image: url( ../images/home-section-3-img3.jpg)
			}
		}
		.bg-customersuccess-2{
			&:before{
				background-image: url( ../images/home-section-3-img4.jpg)
			}
		}
		.bg-blog-small{
			&:before{
				background-image: url( ../images/home-section-3-img5.jpg)
			}
		}
		.content-block{
			position: relative;
			z-index: 2;
		}
	}
	
}


.section-4{
	color:rgba(255,255,255,1);
	>.row{
		height: 100%;background-color: #111;
		.col-md-6{
			height: 50%;
			
			&:before{
				content: ' ';
				display: block;
				position: absolute;
				left: 0;
				top: 0;
				width: 100%;
				height: 100%;
				z-index: 1;
				opacity: 0.85;
				background-repeat: no-repeat;
				background-position: 50% 0;
				background-size: cover;
			}
			&:hover::before{
				opacity: 1;
			}
		}
		.col-md-3{
			height: 50%;
			
			&:before{
				content: ' ';
				display: block;
				position: absolute;
				left: 0;
				top: 0;
				width: 100%;
				height: 100%;
				z-index: 1;
				opacity: 0.85;
				background-repeat: no-repeat;
				background-position: 50% 0;
				background-size: cover;
			}
			&:hover::before{
				opacity: 1;
			}
		}
		.bg-partners{
			&:before{
				 background-color: rgba(206,206,206,1)
			}
		}
		.bg-blog-small{
			&:before{
				background-color: rgba(23,170,204,1)
			}
		}
		.bg-newsroom{
			&:before{
				background-image: linear-gradient( to bottom right, rgba(98,188,77,1), rgba(99,187,114,1), rgba(102,185,190,1));
			}
		}
		.bg-careers{
			&:before{
				background-image: url( ../images/home-section-4-img4.jpg)
			}
		}
		.bg-careers-1{
			&:before{
				background-image: url( ../images/home-section-4-img5.jpg)
			}
		}
		.bg-socialmedia{
			&:before{
				background-image: url( ../images/home-section-4-img6.jpg)
			}
		}
		.bg-socialmedia-1{
			&:before{
				background-image: url( ../images/home-section-4-img7.jpg)
			}
		}
		.content-block{
			position: relative;
			z-index: 2;
		}
	}
	
}
