.region-header {
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  height: 80px;
  width: 100%; }
  .region-header .container-logo {
    width: 250px;
    height: 35px;
    line-height: 35px;
    background-image: url(../images/logo-sdgc-inverse.svg);
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: cover;
    margin: 22px 20px;
    transition: 0.5s all ease-in-out; }

.region-footer {
  padding: 75px 0;
  background: linear-gradient(to left, #66b9bc 0%, #66b9ba 3%, #65baa0 42%, #65ba9d 44%, #63bc58 100%); }
  .region-footer .sdg-logo-f {
    padding-bottom: 50px; }
  .region-footer .footer-links {
    font-size: 18px;
    list-style-type: none;
    padding: 0;
    margin: 0; }
    .region-footer .footer-links li {
      display: block;
      padding: 10px 0; }
      .region-footer .footer-links li a {
        color: #fff; }
  .region-footer .subscribe-area {
    padding-top: 100px; }
    .region-footer .subscribe-area h5 {
      display: block;
      font-size: 30px;
      font-weight: 400;
      text-align: center;
      color: #fff; }
    .region-footer .subscribe-area .black-btn {
      background: #454545;
      border: 1px solid #454545;
      line-height: 46px;
      color: #fff;
      font-size: 24px;
      width: 220px;
      margin: 25px auto;
      display: block; }
    .region-footer .subscribe-area input {
      border: 1px solid #f0f0f0;
      background: #f0f0f0;
      line-height: 28px;
      color: #979797;
      font-size: 24px;
      display: block;
      width: 90%;
      margin: auto;
      padding: 10px; }
  .region-footer .social-media-icons {
    list-style-type: none;
    margin: 0;
    padding: 0;
    padding-top: 170px; }
    .region-footer .social-media-icons li {
      list-style-type: none;
      margin: 0;
      padding: 0 2px;
      float: left; }
      .region-footer .social-media-icons li img {
        width: 48px; }
