.section-1 {
  color: white;
  height: 500px;
  /* fallback for older browsers */
  height: 100vh; }
  .section-1 > .row {
    height: 100%;
    background-color: #111; }
    .section-1 > .row .background-video {
      display: block;
      position: absolute;
      left: 0;
      top: 0;
      width: 100vw;
      height: 100vh;
      z-index: 1;
      overflow: hidden; }
    .section-1 > .row .content-section {
      display: block;
      position: relative;
      width: 100vw;
      height: 100vh;
      z-index: 2; }
      .section-1 > .row .content-section .content-left {
        height: 100%; }
        .section-1 > .row .content-section .content-left h2 {
          position: relative;
          top: 50%;
          margin: 0 25px;
          margin-top: -25%;
          font-weight: 200;
          line-height: 5rem; }
      .section-1 > .row .content-section .content-right {
        height: 50%;
        border-top: 3px solid rgba(0, 0, 0, 0.05);
        border-right: 3px solid rgba(0, 0, 0, 0.05); }
        .section-1 > .row .content-section .content-right:nth-child(2), .section-1 > .row .content-section .content-right:nth-child(3) {
          border-top: none; }
        .section-1 > .row .content-section .content-right:before {
          content: ' ';
          display: block;
          position: absolute;
          left: 0;
          top: 0;
          width: 100%;
          height: 100%;
          z-index: 1;
          opacity: 0.85;
          background-color: rgba(0, 0, 0, 0.2); }
        .section-1 > .row .content-section .content-right:hover::before {
          background-color: rgba(0, 0, 0, 0.05); }
        .section-1 > .row .content-section .content-right > div {
          margin: 0 25px;
          text-align: center;
          position: relative;
          top: 50%;
          margin-top: -75px;
          z-index: 2; }
          .section-1 > .row .content-section .content-right > div h4 {
            font-family: 'Roboto';
            font-weight: 300; }
          .section-1 > .row .content-section .content-right > div .icon {
            width: 96px;
            height: 96px;
            display: block;
            margin: 0 auto;
            background-repeat: no-repeat;
            background-position: 50% 50%;
            background-size: contain; }
          .section-1 > .row .content-section .content-right > div .icon-1 {
            background-image: url(../images/icon-1.png); }
          .section-1 > .row .content-section .content-right > div .icon-2 {
            background-image: url(../images/icon-2.png); }
          .section-1 > .row .content-section .content-right > div .icon-3 {
            background-image: url(../images/icon-3.png); }
          .section-1 > .row .content-section .content-right > div .icon-4 {
            background-image: url(../images/icon-4.png); }

.section-2 {
  position: relative;
  padding: 50px 0; }
  .section-2 .content-area {
    text-align: center; }
    .section-2 .content-area .content-title {
      font-size: 42px;
      font-weight: 600;
      color: #7e7e7e;
      margin: 0; }
    .section-2 .content-area .content-sub-title {
      font-size: 22px;
      color: #7e7e7e; }
  .section-2 .content-small-area {
    padding: 50px 0;
    text-align: center;
    color: #7e7e7e; }
    .section-2 .content-small-area .content-sub-title {
      font-size: 22px;
      color: #7e7e7e; }
    .section-2 .content-small-area .site-icon-area {
      width: 90px;
      text-align: center;
      margin: auto;
      padding: 40px 0; }
      .section-2 .content-small-area .site-icon-area img {
        width: 90px; }
    .section-2 .content-small-area .content-keyword-text {
      font-size: 18px;
      margin: 0; }
    .section-2 .content-small-area .content-pera-text {
      font-size: 16px;
      padding: 40px 0;
      margin: 0; }
  .section-2 .gray-link {
    text-align: center; }
    .section-2 .gray-link a {
      font-size: 18px;
      color: #7e7e7e;
      font-weight: 700;
      text-align: center; }
      .section-2 .gray-link a:hover {
        color: #333;
        text-decoration: none; }
      .section-2 .gray-link a .glyphicon-chevron-down {
        font-size: 24px; }

.section-3 {
  color: white;
  height: 500px;
  /* fallback for older browsers */
  height: 100vh; }
  .section-3 > .row {
    height: 100%;
    background-color: #111; }
    .section-3 > .row .col-md-6 {
      height: 100%;
      overflow: hidden; }
      .section-3 > .row .col-md-6:before {
        content: ' ';
        display: block;
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
        opacity: 0.85;
        background-repeat: no-repeat;
        background-position: 50% 0;
        background-size: cover;
        transition: 0.5s all ease-in-out; }
      .section-3 > .row .col-md-6:hover::before {
        transform: scale(1.1);
        transition: all .5s ease-in-out; }
    .section-3 > .row .col-md-3 {
      height: 50%;
      overflow: hidden; }
      .section-3 > .row .col-md-3:before {
        content: ' ';
        display: block;
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
        opacity: 0.8;
        background-repeat: no-repeat;
        background-position: 50% 50%;
        background-size: cover;
        transition: all .5s ease-in-out; }
      .section-3 > .row .col-md-3:hover::before {
        transform: scale(1.1);
        transition: all .5s ease-in-out; }
    .section-3 > .row .bg-blog:before {
      background-image: url(../images/home-section-3-img1.jpg); }
    .section-3 > .row .bg-whitepapers:before {
      background-image: url(../images/home-section-3-img2.jpg); }
    .section-3 > .row .bg-customersuccess:before {
      background-image: url(../images/home-section-3-img3.jpg); }
    .section-3 > .row .bg-customersuccess-2:before {
      background-image: url(../images/home-section-3-img4.jpg); }
    .section-3 > .row .bg-blog-small:before {
      background-image: url(../images/home-section-3-img5.jpg); }
    .section-3 > .row .content-block {
      position: relative;
      z-index: 2; }

.section-4 {
  color: white;
  height: 500px;
  /* fallback for older browsers */
  height: 100vh; }
  .section-4 > .row {
    height: 100%;
    background-color: #111; }
    .section-4 > .row .col-md-6 {
      height: 50%;
      overflow: hidden; }
      .section-4 > .row .col-md-6:before {
        content: ' ';
        display: block;
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
        opacity: 0.85;
        background-repeat: no-repeat;
        background-position: 50% 0;
        background-size: cover;
        transition: all .5s ease-in-out; }
      .section-4 > .row .col-md-6:hover::before {
        transform: scale(1.1);
        transition: all .5s ease-in-out; }
    .section-4 > .row .col-md-3 {
      height: 50%;
      overflow: hidden; }
      .section-4 > .row .col-md-3:before {
        content: ' ';
        display: block;
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
        opacity: 0.85;
        background-repeat: no-repeat;
        background-position: 50% 0;
        background-size: cover;
        transition: all .5s ease-in-out; }
      .section-4 > .row .col-md-3:hover::before {
        transform: scale(1.1);
        transition: all .5s ease-in-out; }
    .section-4 > .row .bg-partners:before {
      background-color: #cecece; }
    .section-4 > .row .bg-blog-small:before {
      background-color: #17aacc; }
    .section-4 > .row .bg-newsroom:before {
      background-image: linear-gradient(to bottom right, #62bc4d, #63bb72, #66b9be); }
    .section-4 > .row .bg-careers:before {
      background-image: url(../images/home-section-4-img4.jpg); }
    .section-4 > .row .bg-careers-1:before {
      background-image: url(../images/home-section-4-img5.jpg); }
    .section-4 > .row .bg-socialmedia:before {
      background-image: url(../images/home-section-4-img6.jpg); }
    .section-4 > .row .bg-socialmedia-1:before {
      background-image: url(../images/home-section-4-img7.jpg); }
    .section-4 > .row .content-block {
      position: relative;
      z-index: 2; }
