.section-1{
	color:rgba(255,255,255,1);
	height: 500px; /* fallback for older browsers */
	height: 100vh;
	>.row{
		height: 100%;background-color: #111;
		.background-video{
			display: block;
			position: absolute;
			left: 0;
			top: 0;
			width: 100vw;
			height: 100vh;
			z-index: 1;
			overflow: hidden;
		}
		.content-section{
			display: block;
			position: relative;
			width: 100vw;
			height: 100vh;
			z-index: 2;

			.content-left{
				height: 100%;
				
				h2{
					position: relative;
					top:50%;
					margin: 0 25px;
					margin-top: -25%;
					font-weight: 200;
					line-height: 5rem;
				}
			}
			.content-right{
				height: 50%;
				border-top: 3px solid rgba(0,0,0,0.05);
				border-right: 3px solid rgba(0,0,0,0.05);
				
				&:nth-child(2), &:nth-child(3){
					border-top: none;
				}

				&:before{
					content: ' ';
					display: block;
					position: absolute;
					left: 0;
					top: 0;
					width: 100%;
					height: 100%;
					z-index: 1;
					opacity: 0.85;
					background-color: rgba(0,0,0,0.2);
				}
				&:hover::before{
					background-color: rgba(0,0,0,0.05);
				}
				> div{
					margin: 0 25px;
					text-align: center;
					position: relative;
					top: 50%;
					margin-top: -75px;
					z-index: 2;
					
					h4{
						font-family: 'Roboto';
						font-weight: 300;
					}
					
					.icon{
						width: 96px;
						height: 96px;
						display: block;
						margin: 0 auto;
						background-repeat: no-repeat;
						background-position: 50% 50%;
						background-size: contain;
					}
					.icon-1{
						background-image: url(../images/icon-1.png)
					}
					.icon-2{
						background-image: url(../images/icon-2.png)
					}
					.icon-3{
						background-image: url(../images/icon-3.png)
					}
					.icon-4{
						background-image: url(../images/icon-4.png)
					}
				}
			}
		}
	}
}

.section-2{
	position: relative;
	padding: 50px 0;
	.content-area{
		text-align: center;
		.content-title{
			font-size: 42px;
			font-weight: 600;
			color: #7e7e7e;
			margin: 0;
		}
		.content-sub-title{
			font-size: 22px;
			color: #7e7e7e;
		}
	}
	.content-small-area{
		padding: 50px 0;
		text-align: center;
		color: #7e7e7e;
		.content-sub-title{
			font-size: 22px;
			color: #7e7e7e;
		}
		.site-icon-area{
			width: 90px;
			text-align: center;
			margin: auto;
			padding: 40px 0;
			img{
				width: 90px;
			}
		}
		.content-keyword-text{
			font-size: 18px;
			margin: 0;
		}
		.content-pera-text{
			font-size: 16px;
			padding: 40px 0;
			margin: 0;
		}
	}
	.gray-link{
		text-align: center;
		a{
			font-size: 18px;
			color: #7e7e7e;
			font-weight: 700;
			text-align: center;
			
			&:hover{
				color: #333;
				text-decoration: none;
			}
			
			.glyphicon-chevron-down{
				font-size: 24px;
			}
		}
	}
}

.section-3{
	color:rgba(255,255,255,1);
	height: 500px; /* fallback for older browsers */
	height: 100vh;
	>.row{
		height: 100%;background-color: #111;
		.col-md-6{
			height: 100%;
			overflow: hidden;
			
			&:before{
				content: ' ';
				display: block;
				position: absolute;
				left: 0;
				top: 0;
				width: 100%;
				height: 100%;
				z-index: 1;
				opacity: 0.85;
				background-repeat: no-repeat;
				background-position: 50% 0;
				background-size: cover;
				transition: 0.5s all ease-in-out;
				
			}
			&:hover::before{
				transform: scale(1.1);
				transition: all .5s ease-in-out;
			}
		}
		.col-md-3{
			height: 50%;
			overflow: hidden;
			
			&:before{
				content: ' ';
				display: block;
				position: absolute;
				left: 0;
				top: 0;
				width: 100%;
				height: 100%;
				z-index: 1;
				opacity: 0.8;
				background-repeat: no-repeat;
				background-position: 50% 50%;
				background-size: cover;
				transition: all .5s ease-in-out;
				
			}
			&:hover::before{
				transform: scale(1.1);
				transition: all .5s ease-in-out;
			}
		}
		.bg-blog{
			&:before{
				background-image: url( ../images/home-section-3-img1.jpg)
			}
		}
		.bg-whitepapers{
			&:before{
				background-image: url( ../images/home-section-3-img2.jpg)
			}
		}
		.bg-customersuccess{
			&:before{
				background-image: url( ../images/home-section-3-img3.jpg)
			}
		}
		.bg-customersuccess-2{
			&:before{
				background-image: url( ../images/home-section-3-img4.jpg)
			}
		}
		.bg-blog-small{
			&:before{
				background-image: url( ../images/home-section-3-img5.jpg)
			}
		}
		.content-block{
			position: relative;
			z-index: 2;
		}
	}
	
}

.section-4{
	color:rgba(255,255,255,1);
	height: 500px; /* fallback for older browsers */
	height: 100vh;
	>.row{
		height: 100%;background-color: #111;
		.col-md-6{
			height: 50%;
			overflow: hidden;
			
			&:before{
				content: ' ';
				display: block;
				position: absolute;
				left: 0;
				top: 0;
				width: 100%;
				height: 100%;
				z-index: 1;
				opacity: 0.85;
				background-repeat: no-repeat;
				background-position: 50% 0;
				background-size: cover;
				transition: all .5s ease-in-out;
			}
			&:hover::before{
				transform: scale(1.1);
				transition: all .5s ease-in-out;
			}
		}
		.col-md-3{
			height: 50%;
			overflow: hidden;
			
			&:before{
				content: ' ';
				display: block;
				position: absolute;
				left: 0;
				top: 0;
				width: 100%;
				height: 100%;
				z-index: 1;
				opacity: 0.85;
				background-repeat: no-repeat;
				background-position: 50% 0;
				background-size: cover;
				transition: all .5s ease-in-out;
			}
			&:hover::before{
				transform: scale(1.1);
				transition: all .5s ease-in-out;
			}
		}
		.bg-partners{
			&:before{
				 background-color: rgba(206,206,206,1)
			}
		}
		.bg-blog-small{
			&:before{
				background-color: rgba(23,170,204,1)
			}
		}
		.bg-newsroom{
			&:before{
				background-image: linear-gradient( to bottom right, rgba(98,188,77,1), rgba(99,187,114,1), rgba(102,185,190,1));
			}
		}
		.bg-careers{
			&:before{
				background-image: url( ../images/home-section-4-img4.jpg)
			}
		}
		.bg-careers-1{
			&:before{
				background-image: url( ../images/home-section-4-img5.jpg)
			}
		}
		.bg-socialmedia{
			&:before{
				background-image: url( ../images/home-section-4-img6.jpg)
			}
		}
		.bg-socialmedia-1{
			&:before{
				background-image: url( ../images/home-section-4-img7.jpg)
			}
		}
		.content-block{
			position: relative;
			z-index: 2;
		}
	}
	
}